.cards {
  /* width: 100%; */
  max-width: 450px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 88.125%;
  grid-template-columns: 88.125%;
  gap: 20px 17px;
  margin: 0 auto;
}
@media screen and (min-width: 600px) {
    .cards {
        -ms-grid-columns: (45%)[2];
        grid-template-columns: repeat(2, 45%);
        max-width: 880px;
      }
}
@media screen and (min-width: 1024px) {
    .cards {
        -ms-grid-columns: (282px)[3];
        grid-template-columns: repeat(3, 282px);
        margin: 0;
      }
}