.cards {
  width: 100%;
  max-width: 450px;
  display: grid;
  justify-content: center;
  grid-template-columns: 88.125%;
  gap: 20px 17px;
  margin: 0 auto;
}
@media screen and (min-width: 600px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(2, 45%);
        width: 100%;
        max-width: 880px;
      }
}
@media screen and (min-width: 1024px) {
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0;
        max-width: 880px;
      }
}