.page{
  width: 100%;
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
  color: #fff;
  background: #000000;

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
.header {
  max-width: 880px;
  margin: 0 auto;
}
.header__logo {
  width: 142px;
  
}
.main {
  max-width: 880px;
  margin: 0 auto;
}
.profile {
}
.profile__avatar {
}
.profile-info {
}
.profile__name {
}
.profile__about-me {
}
.profile__button {
}
.elements {
  display: grid;
  grid-auto-columns: 1fr 1fr 1fr;
}
.element__item {
}
.element__image {
}
.element__title {
}
.footer {
  max-width: 880px;
  margin: 0 auto;
}