.page{
  max-width: 100%;
  margin: 0 auto;
  font-family: 'Inter', 'Arial', sans-serif;
  color: #fff;
  background: #000000;

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
.header {
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  padding-bottom: 42px;
}
.header__logo {
  width: 104px;
  padding: 28px 0 27px 27px;
}

.header__line {
  border: 0.5px solid #545454;
  opacity: .7;
  margin: 0;
}

.main {
  max-width: 880px;
  margin: 0 auto;
}


.profile {
  display: grid;
  gap: 26px;
  max-width: 282px;
  padding-bottom: 36px;
  text-align: center;
}

.profile__avatar {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  border-radius: 50%;
}
.profile__info {
  display: grid;
  align-items: center;
  grid-template-columns: 300px auto;
  gap: 8px 10px;
  margin: 0 auto;
}

.profile__name {
  line-height: 1.22;
  font-size: 27px;
  font-weight: 500;
  letter-spacing: 0.2px;
  margin: 0;
}
.profile__about-me {
  line-height: 1.21;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding-bottom: 6px;

}
.profile__edit-button {
  background-image: url(Images/logo/editButton.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000000;
  border: 1px solid #FFFFFF;
  width: 18px;
  height: 18px;
  padding: 8px;
  font-size: 7.5px;
  cursor: pointer;
}

.profile__add-button {
  background-image: url(Images/logo/addButton.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000000;
  border: 2px solid #FFFFFF;
  width: 282px;
  height: 50px;
  margin: 0 auto;
  border-radius: 2px;
  cursor: pointer;
}

.elements {
  width: 100%;
  max-width: 880px;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row dense;
  gap: 20px 17px;
  margin: 0 auto;
}
.element {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  margin: 0 auto;
}
.element__item {
}
.element__image {
  object-fit: cover;
  border-radius: 10px 10px 0 0;

}
.element__title {
  margin: 0;
  padding: 25px 0 25px 21px;
  line-height: 1.21;
  font-size: 24px;
  font-weight: 900;
  width: 100%;
  color: #000;
}
.footer {
  max-width: 880px;
  margin: 0 auto;
  padding: 48px 19px 36px;
}

.footer-info {
  line-height: 1.21;
  font-size: 14px;
  font-weight: 400;
}

.popup {
  display: none;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 200px 88px 0;
  font-family:'inter', Arial, sans-serif;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup_open {
  display: block;
}

.popup__close-btn {
  all: unset;
  width: 32px;
  height: 32px;
  margin: 0 0 8px 778px;
  background-size: 100% 100%;
  background-image: url(Images/logo/Close-Icon.svg);
  transition: opacity ease-in-out 0.3s;
  cursor: pointer;
}

.popup__content {
  position: relative;
  width: 430px;
  margin: 0 auto;
  padding: 34px 0 37px;
  background-color: #e9e9e9;
  border-radius: 15px;
  opacity: 1;
}
.popup__title {
  margin: 0 auto;
  margin: 0 36px 54px;
  line-height: 1.21;
  font-size: 24px;
  font-weight: 900;
}
.field {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 36px;
}
.field__name {
  line-height: 1.21;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}
.field__line {
  margin: 13px 0 0 0;
  opacity: 0.2;
  border: 0.5px solid #000000;
}
.field__about-me {
  line-height: 1.21;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}
.submit__button { 
  all: unset;
  width: 358px;
  height: 50px;
  margin: 48px 36px 0;
  text-align: center;
  background-color: #000;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .header {
    max-width: 600px;
  }

  .profile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    gap: 26px;
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 36px;
    text-align: left;
  }

  .profile__avatar {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    border-radius: 50%;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .profile__name {
    line-height: 1.14;
    font-size: 42px;
  }
  .profile__about-me {
    line-height: 1.22;
    font-size: 18px;
  }
  .profile__edit-button {
    width: 24px;
    height: 24px;
  }

  .profile__add-button {
    width: 150px;
  }

  .elements {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 600px;
    width: 100%;
  }
  .footer {
    max-width: 600px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    max-width: 880px;
  }
  .profile {
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 120px 1fr 150px;
    grid-template-rows: 1fr;
    gap: 0;
    max-width: 880px;
    margin: 0 auto;
    padding-bottom: 36px;
    text-align: left;
  }
  .profile__info {
    margin: 0 0 0 30px;
  }
    .elements {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
  }
  .footer {
    max-width: 880px;
  }
}
