.profile__name {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  line-height: 1.22;
  font-size: 27px;
  font-weight: 500;
  letter-spacing: 0.2px;
  margin: 0;
  max-width: 200px;
}
@media screen and (min-width: 600px) {
    .profile__name {
        line-height: 1.14;
        font-size: 32px;
        max-width: 250px;
      }
}
@media screen and (min-width: 1024px) {
    .profile__name {
        font-size: 36px;
        max-width: 400px;
      }
}