.popup__edit-profile {
  position: relative;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  width: 88.125%;
  max-width: 430px;
  margin: 0 auto;
  padding: 25px 0;
  background-color: #e9e9e9;
  border-radius: 10px;
  opacity: 1;
}
@media screen and (min-width: 600px) {
    .popup__edit-profile {
        padding: 34px 0 37px;
      }
}