.card__like_active {
    all: unset;
    background-image: url(../../../../images/logo/like-active.svg);
    width: 22px;
    height: 19px;
    cursor: pointer;
  }
  .card__like:hover {
    -webkit-transition: opacity ease-in-out 0.3s;
    -o-transition: opacity ease-in-out 0.3s;
    transition: opacity ease-in-out 0.3s;
    opacity: .5;
  }