.popup__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  margin: 0 22px;
}
@media screen and (min-width: 600px) {
    .popup__inputs {
        margin: 0 36px;
      }
}