.footer__info {
  margin: 0;
  line-height: 1.21;
  font-size: 14px;
  font-weight: 400;
}
@media screen and (min-width: 600px) {
    .footer__info {
        font-size: 18px;
        line-height: 1.22;
        font-weight: 400;
      }
}